# Requirements for a local developer environment and for CI building (top and wheel-level)
wheel
pkgconfig
numpy==1.16.1 # fixes https://github.com/scikit-image/scikit-image/issues/3655
Pillow
pytest
setuptools
pytest-xdist #allow parallelization
psutil
scikit-image
pooch # allows to download skimage image data for pytesting
# Do not put the 'black' Python code formatter as a dependency here it will not install for Python <= 3.6 and crash the Mac OS CI, black must be installed at formatting check time, outside any docker wheel-building environment. See the related formatting functions in build_tools.bash script.
