# Requirements for a local developer environment and for CI building (top and wheel-level)
wheel
pkgconfig
numpy
Pillow
pytest
setuptools
pytest-xdist #allow parallelization
psutil
# Do not put the 'black' Python code formatter as a dependency here it will not install for Python <= 3.6 and crash the Mac OS CI, black must be installed at formatting check time, outside any docker wheel-building environment. See the related formatting functions in build_tools.bash script.
