sphinx==2.2.0 # prevent readthedocs.io to use 1.8.5 which makes pyquickhelper fail
sphinx_rtd_theme
gmic==2.9.1-a5
Pillow
numpy
gmic-sphinx
recommonmark
pyquickhelper
sphinxcontrib.imagesvg
-e git+https://github.com/myselfhimself/sphinx-execute-code@7b5812cd09949c4442da6e544927d34d7b06add8#egg=sphinx-execute-code
