name: CPython GMIC Debug Python package (Source and Debian/Ubuntu OS compilation)
# For development purpose only, our fastest build chain with testing and without pypi sending

on: [push]

jobs:
  build-linux-debug-test-norelease:

    runs-on: ubuntu-latest

    steps:


    # Prevent running this job on tag-based releases
    - name: Check if Git tag exists
      run: echo "HEAD_TAG=$(git tag --points-at HEAD)" >> $GITHUB_ENV
    - name: Runs only if Git tag does not exist
      run: |
        echo "This runs because Git tag points at HEAD ..."
        exit 1
      if: env.HEAD_TAG != ''

    - name: Detect G'MIC target version
      run: echo "GHA_GMIC_VERSION=$(GHA_QUIET=1 bash build_tools.bash __get_py_package_version)" >> $GITHUB_ENV

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: wget gmic_stdlib
      uses: wei/wget@v1
      with:
        args: -P gmic/src https://gmic.eu/gmic_stdlib.h
    - name: wget CImg
      uses: wei/wget@v1
      with:
        args: -P gmic/src https://github.com/dtschump/CImg/raw/master/CImg.h



    - name: Compile and run tests on .so, .whl and source distribution of gmic-py ${{ env.GHA_GMIC_VERSION }}
      working-directory: ./
      env:
        # TWINE_PASSWORD_GITHUB_SECRET: ${{ secrets.TWINE_PASSWORD_GITHUB_SECRET }} # For build_tools.bash 11_send_to_pypi
        PYTHON3: python3
        PIP3: pip3
      run: |
        for apt_file in `grep -lr microsoft /etc/apt/sources.list.d/`; do sudo rm $apt_file; done
        sudo apt-get update; sudo apt-get install -y libfftw3-dev libcurl4-openssl-dev libpng-dev zlib1g-dev libomp5 libomp-dev
        sudo apt-get install clang-format
        bash build_tools.bash 21_check_c_style # should stop this script on style error
        bash build_tools.bash 23_check_python_style # should stop this script on style error

        bash build_tools.bash 2b_compile_debug
        ldd build/lib.linux-x86_64-3.*/gmic.cpython-3*-x86_64-linux-gnu.so
        # bash build_tools.bash 3_test_compiled_so # TODO tests exceptionnally disabled for remote testing
        # && bash build_tools.bash 11_send_to_pypi #Note that most probably nothing will be sent to PyPI because of too modern linked libraries 
    - name: upload .so debug build dir as artifact
      uses: actions/upload-artifact@v2
      with:
        name: gmic-py-ubuntu-debug-build-dir
        path: build/
